extends layout

block title
  title Dashboard

block content
  .webauthn-container
    .card
      .card-body
        h3.card-title Dashboard
        p.card-text Welcome to the dashboard,
          strong &nbsp;#{user.email}!
        p.card-text How about we create a webauthn credential for you?
        div.d-flex.justify-content-start.gap-3
          if !user.credential
            button.btn.btn-primary(onclick='webauthn()') Create WebAuthn Credential
          a.btn.btn-default(href='/logout') Logout
        
  script.
    function webauthn() {
      const challenge = 'VMUn8NmCuSOHhSSvvOCVhlv5OoRnmi7S2O2sKsPTNzE='; // TODO random, but from browser
      
      const publicKey = {
        challenge: Uint8Array.from(atob(challenge), c => c.charCodeAt(0)),
        rp: {
          name: '92aa-2804-14d-4c87-92a6-ac3b-ce8c-fab1-992d.ngrok-free.app',
          id: '92aa-2804-14d-4c87-92a6-ac3b-ce8c-fab1-992d.ngrok-free.app',
        },
        user: {
          id: new Uint8Array("#{user.id}".split("").map(c => c.charCodeAt(0))),
          name: "#{user.email}",
          displayName: "#{user.name}",
        },
        pubKeyCredParams: [
          {
            type: "public-key",
            alg: -7,
          },
          {
            type: "public-key",
            alg: -257,
          }
        ],
        excludeCredentials: [],
        timeout: 60000,
        attestation: 'none',
        authenticatorSelection: {
          residentKey: 'preferred',
          requireResidentKey: false,
          userVerification: 'preferred',
        },
        hints: [],
        extensions: {
          credProps: true
        },
      };

      navigator.credentials.create({ publicKey })
        .then(sendCredentialToServer)
        .catch((error) => {
          console.log(error);
          alert("Something went wrong: " + error);
        });
    }

    async function sendCredentialToServer(credential) {
      let attestationObject = credential.response.attestationObject;
      let clientDataJSON = credential.response.clientDataJSON;

      console.log('credential.rawId:', arrayBufferToBase64(credential.rawId));
      console.log('credential.id:', credential.id);
      
      const dataToSend = {
        id: arrayBufferToBase64(credential.rawId),
        attestationObject: arrayBufferToBase64(attestationObject),
        clientDataJSON: arrayBufferToBase64(clientDataJSON)
      };

      fetch('/register-credential', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(dataToSend),
      })
      .then(response => response.json())
      .then(data => console.log('Success:', data))
      .catch((error) => console.error('Error:', error));
    }

    function arrayBufferToBase64(buffer) {
      let binary = '';
      const bytes = new Uint8Array(buffer);
      const len = bytes.byteLength;
      for (let i = 0; i < len; i++) {
          binary += String.fromCharCode(bytes[i]);
      }
      return window.btoa(binary);
    }