extends layout

block title
  title Dashboard

block content
  .webauthn-container
    .card
      .card-body
        h3.card-title Dashboard
        p.card-text Welcome to the dashboard,
          strong &nbsp;#{user.email}!
        p.card-text How about we create a webauthn credential for you?
        div.d-flex.justify-content-start.gap-3
          if !user.credential
            button.btn.btn-primary#create-webauthn(onclick='webauthn()') Create WebAuthn Credential
          a.btn.btn-default(href='/logout') Logout
        
  script.
    function webauthn() {
      const email = "#{user.email}";
      fetch('/webauthn/start', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email }),
      })
        .then((response) => {
          if (response.ok) return response.json();
          throw response;
        })
        .then((credentialCreationOptions) => {
          return SimpleWebAuthnBrowser.startRegistration(credentialCreationOptions);
        })
        .then((attestationResponse) => {
          return fetch('/webauthn/finish', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              email,
              data: attestationResponse,
            }),
          });
        })
        .then(() => {
          alert('WebAuthn credential created successfully');
          location.reload();
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Something went wrong');
        });
    }
